{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="../static/styles/annotate.css">
    <div class="page">
        <div class="container">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col align-items-center">
                    <div class="result">
                        <h1 class="result-title">{{proteinid}}</h1>
                        <div class="list-group">
                            <h2 class="list-group-item">Annotations par propagation: </h2>
                            <a  class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Protein ID</h5>
                                    <small>Probabilité</small>
                                </div>
                            </a>
                            {% for i in ec_numbers %}
                                <a  class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ i }}:</h5>
                                        <small class="text-score">{{ ec_numbers[i] * 100 }} %</small>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div style="height: 30px;"></div>
                        <div class="list-group">
                            <h2 class="list-group-item">Annotations par réseaux de neurones: </h2>
                            <a  class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Protein ID:</h5>
                                    <small>Probabilité</small>
                                </div>
                            </a>
                            {% for i in stats %}
                                <a  class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ i }}:</h5>
                                        <small class="text-score">{{ stats[i] }} %</small>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="button-container">
                            <a href="/home"
                            class="btn btn-primary btn-lg active btn-retour" role="button" aria-pressed="true">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var popularite = document.getElementsByClassName("text-score");
        for (var i = 0; i < popularite.length; i++){
            var populariteValue = parseFloat(popularite[i].innerHTML.split(": ")[1].split("%")[0]);
            var red = 255;
            var green = 0;
            var stepSize = 255 / 100;
            var step = 0;
            while (step < populariteValue) {
                green += stepSize;
                if (green > 255) {
                    green = 255;
                }
                red -= stepSize;
                if (red < 0) {
                    red = 0;
                }
                step += 1;
            }
            popularite[i].style.color = "rgb(" + red + "," + green + ",0)";
        }
    </script>
{% endblock %}