<!DOCTYPE html>
<html>
<head>
    <title>ProTeiN</title>
    <link rel="stylesheet" href="../static/styles/layout.css">
</head>
<body style="background-image: url('../static/background.png'); background-size: cover;">
    <div class="titre-header">
        <h1>ProTeiN</h1>
    </div>
    <div class="search-bar-container">
        <form action="/search" method="post">
            <input type="text" name="search" placeholder="Input a protein entry..." class="search-bar">
            <input type="int" name="weight" placeholder="Min weight" class="min-weight" min="0" max="1">
            <button type="submit" class="btn-search">Search</button>
        </form>
    </div>
    <div class="annotation-container">
        <form action="/annotation" method="post">
            <input type="text" name="annotation" placeholder="Input the protein ID..." class="annotation-bar">
            <input type="int" name="threshold" placeholder="Threshold" class="threshold" min="0" max="1">
            <input type="int" name="maxGOturns" placeholder="Max GO turns" class="maxGOturns">
            <button type="submit" class="btn-annotate">Annotation</button>
        </form>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
