{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="../static/styles/search.css">
<script src="https://unpkg.com/neovis.js@1.5"></script>
<script type="text/javascript">
    let neoViz;
	function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://localhost:7689",
            server_user: "neo4j",
            server_password: "remiremiremi2001",
            labels: {
                "Protein": {
                    caption: "Proteinid",
                    group: "community",
                }
            },
            relationships: {
                "similarity": {
                    caption: "jaccardID",
                },
            },
            console_debug: true,
            initial_cypher: "MATCH p=(p1:Protein)-[r:similarity]->(p2:Protein)-[r2:similarity]->(p3:Protein) WHERE p1.Proteinid='{{proteinid}}' AND r.jaccardID >= {{minweight}} AND r2.jaccardID >= {{minweight}} AND p1.Proteinid <> p2.Proteinid AND p2.Proteinid <> p3.Proteinid AND p1.Proteinid <> p3.Proteinid RETURN p LIMIT 20",
        }

        viz = new NeoVis.default(config);
        viz.render();
        console.log(viz);
}
</script>
<body onload="draw()">
	<div id="viz" class="visualitation"></div>
</body>
{% endblock %}