{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="../static/styles/search.css">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="../static/javascript/search_graph.js"></script>
<script>
    function draw(){
        // pass those parameters to the function minweight,maxweight,numberOfNodes,maxNeighborDepth,proteinid,searchType
        create_bottom_container("{{minweight}}", "{{maxweight}}", "{{numberOfNodes}}","{{maxNeighborDepth}}", "{{proteinid}}", "{{searchType}}");
        fetchDataAndDraw("{{proteinid}}", "{{minweight}}", "{{maxweight}}","{{maxNeighborDepth}}", "{{numberOfNodes}}", "{{searchType}}");
    }

</script>

<body onload="draw()">
    <div id="graph"></div>
</body>
{% endblock %}